<div id="body">
    <section class="content-wrapper main-content clear-fix">
        <span class="row">
            @Html.Partial("~/Views/Statistics/_Summary.cshtml")
        </span>
        @Html.Partial("~/Views/Statistics/_MostSearches.cshtml")
        @Html.Partial("~/Views/Statistics/_RecentSearches.cshtml")
        @Html.Partial("~/Views/Statistics/_Keywords.cshtml")
        @Html.Partial("~/Views/Statistics/_IndexedPages.cshtml")
        @Html.Partial("~/Views/Statistics/_IgnoredWords.cshtml")
    </section>
</div>